.generalDetail{
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}
.imagenCarta{
    height: 300px;
    border-radius: 5%;
    left: 10%;
}
.imagenHome{
    display: flex;
    position:absolute;
    height: 100px;
    width: 100px;
    left:15%;
  }
  .imagenHome:hover{
    transform: scale(1.2);
  }
.detalle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 800px;
    color: #3E7C17;
    font-weight: bolder;
    font-size: medium;
    background-color: #E8E1D9;
    border-radius:10%;
    text-align: center;
    text-justify: auto;
    border: solid;
    border-width: 2px;
    margin: 10px;

}
