.detalle{
  display: block;
  width: 600px;
  height: 800px;
  color: #ec6f6f;
  font-weight: bolder;
  font-size: medium;
  background-color: #ffe1eb;
  border-radius:10%;
  border: solid;
  border-width: 2px;
}
.imagenCarta{
    display: flex;
    position: relative;
    margin-left: 50px;
    width: 500px;
    height: 300px;
    border-radius: 10%;
}
.contenedorimagen{
  display: flex;
  width: 100%;
}
.subtituloDetalle{
  display: flex;
  position: relative;
  margin-left: 30px;
  font-weight: 400;
  font-style: italic;
  color: #ec6f6f;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-top: 20px;
}
.tituloDetalle{
  display: flex;
  position: relative;
  margin-left: 30px;
  color: #111;
  margin-top: 30px;
  font-size: 3.75rem;
  font-weight: 700;
}
.parrrafoDetalle{
  display: flex;
  position: relative;
  margin-left: 30px;
  font-size: 1.25rem;
  color: #111;
  font-weight: 600;
  font-family: 'Open Sans',sans-serif;
  text-align: left;
  width: 300px;
}
.homeBotonDetalle{
  display: flex;
  position: relative;
  margin-left: 150px;
  color: #e0e5eb;
  text-decoration: none;
  background-color: #ec6f6f;
  border: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8;
  font-family: 'Open Sans',sans-serif;
  width: 300px;
  justify-content: center;
}
.homeBotonDetalle:hover{
  background-color: #111111
}


  
@media (max-width: 768px){
  .detalle{
    border: none;
  }
}
@media (max-width: 550px){
  .imagenCarta{
    margin-left: 160px;
    width: 300px;
    height: 200px;
}
.subtituloDetalle{
  margin-left: 160px;}
.tituloDetalle{
  margin-left: 160px;}
.parrrafoDetalle{
  margin-left: 160px;}
}

@media (max-width: 420px){
  .imagenCarta{
    margin-left: 160px;
  }
  .subtituloDetalle{
    margin-left: 160px;
    font-weight: 200;
    font-style: italic;
    color: #ec6f6f;
    font-size: 1rem;
    line-height: 1.1;
    margin-top: 20px;
  }
  .tituloDetalle{
    margin-left: 160px;
    color: #111;
    margin-top: 30px;
    font-size: 1.75rem;
    font-weight: 300;
  }
  .parrrafoDetalle{
    margin-left: 160px;
    font-size: 1rem;
    color: #111;
    font-weight: 300;
    font-family: 'Open Sans',sans-serif;
    text-align: left;
    width: 200px;
  }
  .homeBotonDetalle{
    width: 200px;
    margin-left: 160px;
  }
}