.App{
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}
/* 
  E8E1D9 blanco
  125C13 verde obscuro
  F4A442 naranja
  3E7C17 verde claro 
  
  rosa obscuro #ec6f6f
gris fondo #e0e5eb;
rosa claro red255 green174 blue201
gris obscuro tipografia #111111
  */
