.form{
  display: flex;
  justify-content: center;
  width: 600px;
  height: 800px;
  color: #ec6f6f;
  font-weight: bolder;
  font-size: medium;
  background-color: #ffe1eb;
  border-radius:10%;
  text-align: center;
  text-justify: left;
  border: solid;
  border-width: 2px;

}
input{
  background-color: #ffe1eb;
  font-size: 1rem;
  color: #111;
  width: 200px;
}
select{
  background-color: #ffe1eb;
}
label{
  display: block;
}

p.danger {
    color: red;
    font-size: 13px;
  }
  
.tempSeleccionado{
  color: #ec6f6f;
  font-weight: bolder;
  font-size: medium;
  background-color: #ffe1eb;
  border-radius:10%;
  border: solid;
  border-color: #ec6f6f;
  border-width: 2px;
  height: 40px;
}
.tempSeleccionado:hover{
  color: #ed707046;
  font-weight: bolder;
  font-size: medium;
  background-color: #ffe1eb;
  border-radius:10%;
  border: solid;
  border-color: #ed707046;
  border-width: 2px;
  height: 40px;
}


.botonSubmit{
  display: block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #e0e5eb;
  background-color: #ec6f6f;
  border: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8;
  font-family: 'Open Sans',sans-serif;
  width: 300px;
  margin-left: 100px;
}
.botonSubmit:hover{
  background-color: #111111
}
.homeBoton{
  display:block;
  position: absolute;
  color: #e0e5eb;
  text-decoration: none;
  background-color: #ec6f6f;
  border: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8;
  font-family: 'Open Sans',sans-serif;
  margin-top: 700px;
  width: 300px;


}
.homeBoton:hover{
  background-color: #111111
}



.contenedorInput{
  margin-top: 20px;
}
.contenedorTempsSelected{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  justify-items: center;
  margin-bottom: 50px;
}
#botonTemp{
  display:inline-flex;
  background-color: #ffe1eb;
  border: none;
  width: 21px;
  height: 21px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.8;
  font-family: 'Open Sans',sans-serif;
}