  .imgCarta{
    margin-left: 100px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    z-index: 1;

  }
  .linkDetalle{
    border-radius: 15px 15px 15px 15px;
    display:flex;
    position: relative;
    margin-left: 20px;
    width: 250px;
    height: 50px;
    bottom: 100px;
    background-color: #ffc8da;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8;
    font-family: 'Open Sans',sans-serif;
    align-items: center;
    justify-content: center;
  }
  .linkDetalle:hover{
    background-color: #ec6f6f
}
  .ciculo{
    margin-left: 70px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  }
  .ciculoRelleno{
    position: absolute;
    background-color: #ffe1eb;
    margin-left: 280px;
    margin-top: -200px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: -1;
    box-shadow: 0 3px 15px rgb(100 100 100 / 50%)
  }
