.nav{
  display: flex;
  margin-top: 50px;
  background-color: #ffe1eb;
  width: 100%;
  /* text-align: center; */
  /* text-justify: center; */
  height: 50px;
  /* justify-content: center; */
  /* align-items: center; */
}
.buttonFiltros{
  color: #111;
  font-size: 1.25rem;
  font-weight: 50;
  line-height: 1.8;
  margin: 20px 2px 0 0;
  font-family: 'Open Sans',sans-serif;
  background-color: #ffe1eb;
  border-radius:10%;
  border: none;
  border-color: #ffaec9;
  border-width: 2px;
  margin: 10px;
  height: 40px;
}
.buttonFiltros:hover{
  color: #ffaec9;
}
.create{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  font-size: 600%;
  border-radius:100%;
  border: solid;
  border-width: 2px;
  border-color: #ffaec9;
  position: fixed;
  right:10%;
  bottom: 5%;
  height: 100px;
  width: 100px;
}
.create:hover{
  transform: scale(1.2);
}

.inputSearch{
  border: 1px;
  font-size: 1.20rem;
  color: #111;
  width: 150px;
  background: #ffe1eb;
  border: solid;
  border-color: #ffaec9;
  border-width: 2px;
  padding: 0 1.6rem;
  border-radius: 10px 100px / 120px;
}
.botonSearch{
display: inline;
background-color: #ffe1eb;
height: 20px;
width: 20px;
margin-left: 15px;
border-radius: 100%;
border: solid;
border-width: 2px;
border-color: #ffaec9;
}
.huella{
  display: block;
  margin: 80px;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
}

@media (max-width: 1150px){
  .huella{
    display: flex;
    position: absolute;
    left: 0px;
    height: 100px;
    width: 100px;
  }
  .div1{
    display: block;
  }
  .div2{
    display: block;
  }
  .nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
}