.carta{
    background-color: #e0e5eb;
    box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
    margin: 10px;
    text-align: center;
    width: 200px;
  }
  .carta:hover{
    transform: scale(1.2);
  }
  .img{
    width: 100%;
    height: 200px;
  }
  .namelink{
    color: #ffaec9;
    text-decoration: none;
  }
  .texto{
  margin-top: 10px;
  text-decoration: none;
  font-weight: 400;
  color: #ffaec9;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;

  }