.contenedorLandingPage{
    display: block;
}
.contenedorTextoCirculo{
    display:flex;
    width: 100%;
    align-items: space-between;
}

.contenedorTexto{
position:relative;
left: 400px;
bottom: 250px;
}

.imagenPortada{
    height: 650px;
    border-radius: 100%;
}
.ciculoBlanco{
    display: flex;
    position: absolute;
    background-color: white;
    height: 175px;
    width: 175px;
    border-radius: 100%;
    box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
}
.ciculoMayor{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ec6f6f;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    left: 500px;
    bottom: 200px;
}
.circuloInterno{
    background-color: #e0e5eb;
    height: 155px;
    width: 155px;
    border-radius: 100%;
}
.subtitulo{
    font-weight: 400;
    font-style: italic;
    margin: 0 auto 0 0;
    color: #ec6f6f;
    font-size: 2.25rem;
    line-height: 1.1;
    margin-top: 20px;
}
.titulo{
    font-size: 3.75rem;
    font-weight: 700;
    margin: 9px auto 0 0;
}
.parrrafoLanding{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.8;
    margin: 20px 2px 0 0;
    font-family: 'Open Sans',sans-serif;
    text-align: left;
    width: 300px;
}

.botonLanding{
    position: absolute;
    color: #e0e5eb;
    background-color: #ec6f6f;
    border: 0px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.8;
    margin: 20px 2px 0 0;
    font-family: 'Open Sans',sans-serif;
    right: 250px;
    width: 150px;
    margin-top: 50px;
}
.botonLanding:hover{
    background-color: #111111
}